body {
    background-color: #202124;
    background-image: url(./content/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p{
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(219,219,219,.25);
    color: white;
}

#body-container {
    background-color: rgb(63, 64, 66,.1);
    margin-top: 200px;
    margin-bottom: 200px;
    color: White;
    border-radius: 50%;
}

