body {
    background-image: url(./Content/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.rotary-nav {
    background-color: rgb(128,128,128,.3);
    border: 2px solid rgb(128,128,128,.5);
    border-radius: 50%;
}

[id*=rnav] {
    border-radius:50%;
    height: 50px;
    width: 50px;
    background-color: white;
}